<footer>
    © GYMMEWIN <br>

    <a href="https://www.linkedin.com/in/gymmewin/">  <img src="https://cdn-icons-png.flaticon.com/128/61/61109.png" alt="LinkedIn" class="icons"></a>

    <a href="https://github.com/gymmewin"><img src="https://cdn-icons-png.flaticon.com/128/733/733609.png" alt="Github" class="icons"></a>

    <a href="https://www.instagram.com/gymmewin/"><img src="https://cdn-icons-png.flaticon.com/128/1400/1400829.png" alt="Instagram" class="icons"></a>

    <a href="https://www.facebook.com/gymmewin"><img src="https://cdn-icons-png.flaticon.com/128/20/20673.png" alt="Facebook" class="icons"></a>

</footer>
