<footer>
    ©Jimmy Nguyen <br>

    <a href="https://www.linkedin.com/in/gymmewin/">  <img src="https://cdn-icons.flaticon.com/png/128/3536/premium/3536569.png?token=exp=1634912816~hmac=25497eef907ae3b4a9ac704b07501a37" alt="LinkedIn" class="icons"></a>

    <a href="https://github.com/gymmewin"><img src="https://cdn-icons-png.flaticon.com/128/733/733609.png" alt="Github" class="icons"></a>

    <a href="https://www.instagram.com/gymmewin/"><img src="https://cdn-icons.flaticon.com/png/128/717/premium/717392.png?token=exp=1634913035~hmac=fe4ebfb40d5d3e17aca3525421cb58da" alt="Instagram" class="icons"></a>

    <a href="https://www.facebook.com/gymmewin"><img src="https://cdn-icons.flaticon.com/png/128/508/premium/508174.png?token=exp=1634913093~hmac=df0eb59e80521d7afa5ac1d91c3cdc64" alt="Facebook" class="icons"></a>

</footer>
