<footer>
    © GYMMEWIN <br>

    <a href="https://www.linkedin.com/in/gymmewin/">  <img src="https://cdn-icons.flaticon.com/png/128/3536/premium/3536569.png?token=exp=1635110833~hmac=8440d0467977812f0416c3378997379c" alt="LinkedIn" class="icons"></a>

    <a href="https://github.com/gymmewin"><img src="https://cdn-icons-png.flaticon.com/128/733/733609.png" alt="Github" class="icons"></a>

    <a href="https://www.instagram.com/gymmewin/"><img src="https://cdn-icons.flaticon.com/png/128/717/premium/717392.png?token=exp=1635110876~hmac=c0959b9bb1276286f9385985c15899c3" alt="Instagram" class="icons"></a>

    <a href="https://www.facebook.com/gymmewin"><img src="https://cdn-icons-png.flaticon.com/128/20/20673.png" alt="Facebook" class="icons"></a>

</footer>
