<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('./partials/head.ejs') %>

  <body>
    <h1>About Us Organized Hoarders</h1>
    <%- include ('./partials/nav.ejs') %>

    <p>
      Organized hoarders was created by me, gymmewin (Jimmy Nguyen), as a passion project to help myself organize my many collections. My previous experience with collection trackers is that they're specific to one type of item (ex. shoes, funko, etc.). I wanted to build an application that would allow me to organize, view, and track the value of my collections in one place. I quickly realized that there are plenty more people that are just like me with a passion to hoard/collect things.
    </p>

    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
