<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('./partials/head.ejs') %>

  <body>
    <h1>Whatcha adding to the collection?!</h1>

    <%- include ('./partials/nav.ejs') %>

    <form class="forms" action="/stuff" method="post">
      <input type="text" name="title" placeholder="T i t l e (M u s t  B e  L e s s  T h a n  2 0  C h a r a c t e r s  L o n g)" class="input"><br>
      <input type="text" name="img" placeholder="p i c t u r e  l i n k" class="input"><br>
      <input type="textarea" name="description" placeholder="d e s c r i p t i o n" class="input"></input><br>
      <input type="number" name="value" placeholder="v a l u e" class="input"><br>
      <input type="submit" id="addbutton" value="A d d  I t">
    </form>

    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
