<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('./partials/head.ejs') %>

  <body>
    <h1>Whatcha adding to the collection?!</h1>

    <form class="forms" action="/stuff" method="post">
      <input type="text" name="name" placeholder="n a m e" class="input"><br>
      <input type="text" name="img" placeholder="p i c t u r e  l i n k" class="input"><br>
      <textarea name="description" placeholder="d e s c r i p t i o n" class="description input"></textarea><br>
      <input type="number" name="value" placeholder="v a l u e" class="input"><br>
      <input type="submit" id="addbutton" value="A d d  I t">
    </form>

    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
