@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: gold;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

.button {
  font-family: 'Permanent Marker', cursive;
  padding: 5px;
  background-color: white;
  margin: 3px;
}

/* =====collection display===== */
.someStuff{
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  /* padding: 1%; */
  margin: 3px;

}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.img {
  height: 300px;
  width: 300px;
}


/* =====new stuff form===== */
.forms {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  font-family: Calibri;
  font-size: 14px;
}

.description {
  width: 99%;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  line-height: 20px;
}

#addbutton {
  font-family: 'Permanent Marker', cursive;
  padding: 5px;
  background-color: white;
  margin: 3px;
  width: 150px;
}
