@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: gold;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.container{
  position: relative;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
}

.button {
  font-family: 'Permanent Marker', cursive;
  padding: 5px;
  background-color: white;
  margin: 3px;
}

/* =====Index Page===== */
a{
  text-decoration: none;
  text-align: center;
  color: black;
}
.someStuff{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  margin: 3px;

}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

.img {
  height: 300px;
  width: 300px;
}

/* =====Show Page===== */
.showMain {
  display:flex;
  justify-content: center;
  margin-top: 2%;
}
.editDeleteButtons {
  display:flex;
  justify-content: center;
}

.showSomeStuff {
  display: flex;
  background-color: white;
  border: 2px solid black;
  min-width: 500px;
  max-width: 750px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: normal;
  width: 45%;
}

.text {
  width: 100%;
}

.showImg {
  width: 55%;
}

/* =====new stuff===== */
.forms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}

.input {
  font-family: 'Permanent Marker', cursive;
  font-size: 14px;
}

.description {
  width: 99%;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  line-height: 20px;
}

#addbutton {
  font-family: 'Permanent Marker', cursive;
  padding: 5px;
  background-color: white;
  width: 100px;
}

/* =====Edit===== */
#saveButton {
  font-family: 'Permanent Marker', cursive;
  padding: 5px;
  background-color: white;
  width: 100px;
}

/* =====footer===== */
footer{
  text-align: right;
  position: relative;
  margin-top: 5%;
  top: 0%;
  height: 2.5em;
}
